@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.main * {
  font-family: Poppins, sans-serif;
}
.main {
  display: flex;
  align-items: center;
  max-width: 1112px;
  margin-inline: auto;
  min-height: 100vh;
}